.rodape {
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #c0c0c0;
  position: absolute;
  bottom: 0;
}

.conteudo {
  text-align: center;
  width: 80%;
  margin: auto;
}

.formulario {
  text-align: left;
}
